<template>
  <div class="box-content border border-gray-200 rounded w-full min-w-[200px] h-[250px] flex-col flex-1 flex-nowrap items-center text-secondary">
    <div class="flex-grow flex flex-col justify-between items-center">
      <h1 class="px-2 pt-4 text-3xl text-center font-thin tracking-tighter uppercase truncate text-ellipsis mx-2">{{
          apelido || nome
        }}</h1>
      <div class="flex-none mt-1 ml-1 h-[90px] w-[90px] cursor-pointer flex" @click="detail = !detail">
        <img
          class="max-h-full rounded-full object-cover "
          :src="`/img/vendedores/${pk}.jpeg`"
          alt="Vendedor Nome"
          onerror="this.onerror=null;this.src='/img/vendedores/3.jpeg';"
        >
      </div>

      <div v-if="!detail">
        <h2 class="my-4 truncate overflow-hidden text-ellipsis text-6xl text-center my-2 font-thin tracking-tighter">{{ percentual | numeral('0,0') }}%</h2>
      </div>
      <div class="w-[70%] mx-auto overflow-x-auto relative" v-if="detail">
        <table class="w-full text-xs text-left text-gray-500 dark:text-gray-400">
          <thead>
          <tr class="text-xs text-gray-800 border-b border-gray-100 py-[1px]">
            <th scope="col" class="py-1">
              PREVISTO
            </th>
            <th scope="col" class="text-right">
              {{ previsto | numeral('0,0') }}
            </th>
          </tr>
          </thead>
          <tbody>
          <tr class="text-xs text-gray-900 uppercase border-b border-gray-100">
            <th scope="row" class="py-1">
              Realizado
            </th>
            <th class="text-right">
              {{ realizado | numeral('0,0') }}
            </th>
          </tr>
          <tr class="text-xs text-gray-800 uppercase border-b border-gray-100">
            <th scope="row" class="py-1">
              Vendas
            </th>
            <th class="text-right">
              {{ vendas | numeral('0,0') }}
            </th>
          </tr>
          <tr class="text-xs text-gray-400 uppercase cursor-pointer" @click="showDetail">
            <th scope="row" colspan="2" class="py-1 text-center">
              detalhes
              <Detalhe :meta="meta" :filial="filial" ref="detalhe"/>
            </th>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</template>

<script>
import Detalhe from '@/components/vendedores/Detalhe'
export default {
  name: 'Card',
  components: { Detalhe },
  props: {
    meta: {
      type: Number,
      default: 1
    },
    filial: {
      type: Number,
      default: 1
    },
    pk: {
      type: Number,
      default: 1
    },
    nome: {
      type: String,
      default: 'VENDEDOR SEM NOME'
    },
    apelido: {
      type: String,
      default: 'VENDEDOR'
    },
    previsto: {
      type: Number,
      default: 0
    },
    realizado: {
      type: Number,
      default: 0
    },
    vendas: {
      type: Number,
      default: 0
    }
  },
  data () {
    return {
      detail: false,
      vendedor: 0
    }
  },
  computed: {
    percentual () {
      return this.realizado / this.previsto * 100 || 0
    }
  },
  methods: {
    showDetail () {
      console.log('meta', this.meta, 'filial', this.filial, 'vendedor', this.pk)
      this.$refs.detalhe.showInfo(this.pk)
    }
  }
}
</script>

<style scoped>

</style>
