<template>
  <DxPopup
    :visible="popupVisible"
    :drag-enabled="false"
    :hide-on-outside-click="false"
    :show-close-button="true"
    :show-title="true"
    :fullScreen="true"
  >
    <DxScrollView
      width="100%"
      height="100%"
    >
      <DxPivotGrid
        :data-source="dataSource"
        :allow-sorting-by-summary="true"
        :allow-filtering="true"
        :show-borders="false"
        :show-column-grand-totals="false"
        :show-row-grand-totals="true"
        :show-row-totals="true"
        :show-column-totals="false"
      />
    </DxScrollView>
  </DxPopup>

</template>

<script>
import { DxPopup } from 'devextreme-vue/popup'
import { DxScrollView } from 'devextreme-vue/scroll-view'
import { DxPivotGrid } from 'devextreme-vue/pivot-grid'
import CustomStore from 'devextreme/data/custom_store'
import api from '../../plugins/axios'

export default {
  components: {
    DxPopup,
    DxPivotGrid,
    DxScrollView
  },
  props: {
    meta: {
      type: Number
    },
    filial: {
      type: Number
    }
  },
  data () {
    return {
      popupVisible: false,
      vendedor: 0,
      dataSource: null
    }
  },
  methods: {
    showInfo (vendedor) {
      this.vendedor = vendedor
      this.popupVisible = !this.popupVisible
      this.dataSource = {
        fields: [{
          dataField: 'cliente',
          wordWrapEnabled: false,
          area: 'row'
        }, {
          dataField: 'pagamento',
          wordWrapEnabled: false,
          area: 'column'
        }, {
          dataField: 'categoria',
          wordWrapEnabled: false,
          area: 'row'
        }, {
          dataField: 'produto',
          wordWrapEnabled: false,
          area: 'row'
        }, {
          dataField: 'data',
          dataType: 'date',
          area: 'row'
        }, {
          caption: 'Total',
          dataField: 'total',
          dataType: 'number',
          summaryType: 'sum',
          format: {
            type: 'fixedPoint',
            precision: 2
          },
          area: 'data'
        }],
        store: new CustomStore({
          key: 'cliente',
          load: () => api.get(`subdetalhe/${this.meta}/${this.filial}/${vendedor}`)
        })
      }
    }
  }
}
</script>
