<template>
  <DxChart
    id="chart"
    ref="chart"
    v-bind="chartConfig"
  />
</template>

<script>

import { DxChart } from 'devextreme-vue/chart'
import CustomStore from 'devextreme/data/custom_store'
import api from '@/plugins/axios'

export default {
  components: {
    DxChart
  },
  props: {
    filial: Number,
    meta: Number
  },
  computed: {
    dataSource () {
      const {
        filial,
        meta
      } = this
      return new CustomStore({
        key: 'id',
        load: async () => {
          const { data } = await api.get(`/vendedores/${meta}/${filial}`)
          if (!data) return []
          const dados = data.map(d => ({ ...d, apelido: d.nome.split(' ')[0] }))
          return dados
        }
      })
    },
    chartConfig () {
      return {
        dataSource: this.dataSource,
        legend: {
          visible: false
        },
        commonSeriesSettings: {
          argumentField: 'apelido',
          type: 'bar',
          hoverMode: 'allArgumentPoints',
          selectionMode: 'allArgumentPoints',
          label: {
            visible: true,
            format: 'fixedPoint',
            precision: 0
          }
        },
        series: [
          {
            valueField: 'realizado',
            name: 'Realizado',
            color: '#692D1F'
          }
        ]
      }
    }
  },
  methods: {
    toggleVisibility (item) {
      item.isVisible() ? item.hide() : item.show()
    }
  }
}
</script>
