<template>
  <DxChart
    id="chart"
    ref="chart"
    v-bind="chartConfig"
  />
</template>

<script>
import { DxChart } from 'devextreme-vue/chart'
import CustomStore from 'devextreme/data/custom_store'
import api from '../../plugins/axios'

export default {
  components: {
    DxChart
  },
  props: {
    filial: Number
  },
  computed: {
    dataSource () {
      const { filial } = this
      return new CustomStore({
        key: 'id',
        load: () => api.get(`/metas/mensal/${filial}`).then(res => res.data)
      })
    },
    chartConfig () {
      return {
        dataSource: this.dataSource,
        size: {
          height: 200
        },
        commonSeriesSettings: {
          argumentField: 'descricao',
          type: 'bar',
          hoverMode: 'allArgumentPoints',
          selectionMode: 'allArgumentPoints',
          label: {
            visible: true,
            format: 'fixedPoint',
            precision: 0
          }
        },
        legend: {
          visible: false
        },
        series: [
          {
            valueField: 'previsto',
            name: 'Previsto',
            color: '#b20'
          },
          {
            valueField: 'realizado',
            name: 'Realizado',
            color: '#692D1F'
          }
        ]
      }
    }
  },
  methods: {
    refresh () {
      this.dataSource().reload()
    }
  },
  watch: {
    filial () {
      this.dataSource.load()
    }
  }
}
</script>
