<template>
  <div>
    <h1 class="text-4xl md:py-1 font-thin flex-grow p-2">{{ previsto | numeral}} / {{ realizado | numeral}}</h1>
    <DxCircularGauge
      id="gauge"
      v-bind="gaugeConfig"
    />
  </div>
</template>
<script>
import { DxCircularGauge } from 'devextreme-vue/circular-gauge'
import api from '../../plugins/axios'

export default {
  components: {
    DxCircularGauge
  },
  watch: {
    filial () {
      this.loadData()
    },
    meta () {
      this.loadData()
    }
  },
  props: {
    filial: Number,
    meta: Number
  },
  data () {
    return {
      previsto: 0,
      realizado: 0
    }
  },
  computed: {
    gaugeConfig () {
      return {
        value: this.percentual,
        size: {
          height: 160
        },
        scale: {
          startValue: 0,
          endValue: 100,
          tickInterval: 10,
          label: {
            useRangeColors: true
          }
        },
        rangeContainer: {
          ranges: [
            {
              startValue: 0,
              endValue: 50,
              color: 'red'
            },
            {
              startValue: 50,
              endValue: 90,
              color: '#522D16'
            },
            {
              startValue: 90,
              endValue: 100,
              color: 'green'
            }
          ]
        }
      }
    },
    percentual () {
      if (this.previsto === 0) return 0
      if (this.realizado === 0) return 0

      return this.realizado / this.previsto * 100
    }
  },
  methods: {
    async loadData () {
      const { previsto = 0, realizado = 0 } = await api.get(`/metas/atual/${this.meta}/${this.filial}`).then(res => res.data)
      this.previsto = previsto
      this.realizado = realizado
    }
  }
}
</script>
