<template>
  <div class="px-2 flex flex-col gap-2">
    <Filtros
      class="justify-end"
      @update="updateFilters"
    />
    <Filial :filial="filial" :meta="meta"/>
    <Caixa :filial="filial" :meta="meta"/>

    <Vendedores :filial="filial" :meta="meta"/>
  </div>
</template>

<script>
import Filial from '../components/Filial'
import Filtros from '../components/Filtros'
import Vendedores from '../components/Vendedores'
import Caixa from '@/components/Caixa'

export default {
  name: 'Home',
  components: {
    Caixa,
    Filial,
    Filtros,
    Vendedores
  },
  data () {
    return {
      k: 0,
      filial: 0,
      meta: 0
    }
  },
  methods: {
    updateFilters () {
      this.filial = parseInt(window.localStorage.getItem('filial_id')) || 1
      this.meta = parseInt(window.localStorage.getItem('meta_id')) || 1
    }
  },
  mounted () {
    this.updateFilters()
  }
}
</script>
