<template>
  <Componente title="Caixas" :altura="600">
    <div class="flex flex-col gap-2">
      <DxChart
        v-bind="chartConfig"
      />
      <DxChart
        ref="lineChart"
        v-bind="chartDiaConfig"
      />
    </div>
  </Componente>
</template>

<script>
import Componente from '@/components/Componente'
import { DxChart } from 'devextreme-vue/chart'
import CustomStore from 'devextreme/data/custom_store'
import api from '@/plugins/axios'
import moment from 'moment/moment'

const chartColors = {
  0: '#b20',
  1: '#692d1f',
  2: '#FF5B00',
  3: '#293462',
  4: '#4C3A51'
}

const prepareData = (data) => {
  data = data.map(m => ({ ...m, data: moment(m.data).format('DD/MM/YYYY') }))
  const caixas = [...new Set(data.map(m => (m.caixa)))].sort()
  const dias = [...new Set(data.map(m => (m.data)))].sort()
  const dados = []

  for (const dia of dias) {
    const aux = {}
    let row = []
    aux.dia = dia

    for (const caixa of caixas) {
      aux[caixa] = 0
      row = data.filter(f => f.data === dia && f.caixa === caixa)
      aux[caixa] = row.length === 1 ? row[0].total : 0
    }
    dados.push(aux)
  }

  return dados
}

export default {
  name: 'Caixa',
  components: {
    Componente,
    DxChart
  },
  props: {
    filial: Number,
    meta: Number
  },
  computed: {
    dataSource () {
      const {
        filial,
        meta
      } = this
      return new CustomStore({
        key: 'id',
        load: () => api.get(`/caixa/${meta}/${filial}`).then(res => res.data)
      })
    },
    dataSourceDia () {
      const { filial, $refs } = this

      return new CustomStore({
        key: 'id',
        load: async () => {
          const { data } = await api.get(`/caixa/${filial}`)
          const dados = prepareData(data)
          if (dados.length > 0) {
            const chart = $refs.lineChart.instance
            chart.option('series', Object.keys(dados[0]).filter(f => f !== 'dia').map((m, k) => ({
              valueField: m,
              name: m,
              color: chartColors[k]
            })))
          }
          return dados
        }
      })
    },
    chartDiaConfig () {
      return {
        palette: 'Violet',
        dataSource: this.dataSourceDia,
        commonSeriesSettings: {
          argumentField: 'dia',
          type: 'bar'
        },
        size: {
          height: 300
        },
        margin: {
          bottom: 20
        },
        argumentAxis: {
          valueMarginsEnabled: false,
          discreteAxisDivisionMode: 'crossLabels',
          grid: {
            visible: true
          }
        },
        series: [],
        legend: {
          verticalAlignment: 'bottom',
          horizontalAlignment: 'center',
          itemTextPosition: 'bottom'
        },
        tooltip: {
          enabled: true
        }
      }
    },
    chartConfig () {
      return {
        dataSource: this.dataSource,
        size: {
          height: 200
        },
        commonSeriesSettings: {
          argumentField: 'caixa',
          type: 'bar',
          hoverMode: 'allArgumentPoints',
          selectionMode: 'allArgumentPoints',
          label: {
            visible: true,
            format: 'fixedPoint',
            precision: 0
          }
        },
        legend: {
          visible: false
        },
        series: [
          {
            valueField: 'total',
            name: 'Total',
            color: '#692D1F'
          }
        ]
      }
    }
  },
  methods: {
    refresh () {
      this.dataSource().reload()
      this.dataSourceDia().reload()
    }
  },
  watch: {
    filial () {
      this.dataSource.load()
    },
    meta () {
      this.dataSource.load()
    }
  }
}
</script>

<style scoped>

</style>
