<template>
  <div class="componente box-border border rounded overflow-hidden" :style="cssVars">
    <div class="border-b bg-primary font-thin !text-white flex justify-between p-4">
      <h1 class="uppercase text-xl">{{ title }}</h1>
    </div>
    <div class="p-4" >
      <slot ref="children" />
    </div>
  </div>
</template>

<script>
export default {
  name: 'Componente',
  props: {
    title: {
      type: String,
      default: 'Dados'
    },
    altura: {
      type: [Number, String],
      default: 500
    }
  },
  computed: {
    cssVars () {
      return {
        '--height': this.altura + 'px'
      }
    }
  }
}
</script>

<style scoped>
.componente {
  height: var(--height);
}
.componente h1 {
  color: #fff!important;
}
</style>
