<template>
  <div class="mt-3">
    <v-row>
      <v-col cols="12" md="8" sm="12">
        <Componente title="Vendedores" :altura="604">
          <GraficoVendedores :filial="filial" :meta="meta"/>
        </Componente>
      </v-col>
      <v-col cols="12" md="4" sm="12">
        <div class="box-border flex gap-1 flex-col">
          <Componente title="Gráfico Mensal" :altura="300" >
            <GraficoMensal :filial="filial"/>
          </Componente>

        <Componente title="Meta Atual" :altura="300">
          <div class="flex flex-col gap-1 text-center">
            <Meta :filial="filial" :meta="meta"/>
          </div>
        </Componente>
        </div>
      </v-col>

    </v-row>
  </div>
</template>

<script>
import GraficoMensal from './filial/Grafico.Mensal'
import GraficoVendedores from '@/components/vendedores/Grafico.Vendedores'
import Meta from '@/components/filial/Meta'
import Componente from '@/components/Componente'
export default {
  name: 'Filial',
  props: {
    filial: Number,
    meta: Number
  },
  components: {
    Componente,
    Meta,
    GraficoMensal,
    GraficoVendedores
  }
}
</script>
