<template>
  <div class="flex gap-1 mt-2">
    <DxSelectBox v-bind="filialSelect" v-model="filial" class="mr-1 w-full"/>
    <DxSelectBox v-bind="metaSelect" v-model="meta" class="mr-1 w-full"/>
  </div>
</template>

<script>
import { DxSelectBox, DxButton } from 'devextreme-vue'
import CustomStore from 'devextreme/data/custom_store'
import api from '../plugins/axios'

export default {
  name: 'Filtros',
  components: {
    DxSelectBox,
    DxButton
  },
  watch: {
    filial (value) {
      window.localStorage.setItem('filial_id', value)
      this.$emit('update')
    },
    meta (value) {
      window.localStorage.setItem('meta_id', value)
      this.$emit('update')
    }
  },
  created () {
    const filial = window.localStorage.getItem('filial_id')
    const meta = window.localStorage.getItem('meta_id')

    this.filial = parseInt(filial) || 1
    this.meta = parseInt(meta) || 1
  },
  data () {
    return {
      filial: 1,
      meta: 1,
      btnPesquisar: {
        icon: 'search'
      }
    }
  },
  computed: {
    filialSelect () {
      return {
        label: 'Selecione a Filial',
        displayExpr: 'nome',
        valueExpr: 'id',
        dataSource: new CustomStore({
          key: 'id',
          load: () => api.get('/filiais').then(res => res.data),
          byKey: key => api.get(`/filiais/${key}`).then(res => res.data)
        })
      }
    },
    metaSelect () {
      const { filial = 1 } = this
      return {
        label: 'Selecione a Meta',
        displayExpr: 'nome',
        valueExpr: 'id',
        dataSource: new CustomStore({
          key: 'id',
          load: () => api.get(`/metas/${filial}`).then(res => res.data),
          byKey: key => api.get(`/metas/${key}`).then(res => res.data)
        })
      }
    }
  }
}
</script>
