<template>
  <div class="w-full">
    <div class="componente box-border border rounded overflow-hidden">
      <div class="border-b bg-primary font-thin text-white flex justify-between p-4">
        <h1 class="uppercase text-xl">Detalhe dos Vendedores</h1>
      </div>
      <div class="p-2 flex flex-row flex-wrap gap-2">
        <template v-for="v of vendedores">
          <CardVendedor v-bind="v" :filial="filial" :meta="meta" :key="v.pk"/>
        </template>
      </div>
    </div>
  </div>
</template>

<script>
import CardVendedor from '@/components/vendedores/Card.Vendedor'
import api from '@/plugins/axios'

export default {
  name: 'Vendedores',
  components: { CardVendedor },
  props: {
    filial: Number,
    meta: Number
  },
  data () {
    return {
      vendedores: []
    }
  },
  methods: {
    async loadData () {
      const { data } = await api.get(`/vendedores/${this.meta}/${this.filial}`)
      if (!data) return
      const dados = data.map(d => ({ ...d, apelido: d.nome.split(' ')[0] }))
      this.vendedores = dados
    }
  },
  watch: {
    filial () {
      this.loadData()
    },
    meta () {
      this.loadData()
    }
  },
  mounted () {
    this.loadData()
  }
}
</script>

<style scoped>
.componente h1 {
  color: #fff!important;
}
</style>
