<template>
  <v-app>
    <v-app-bar
      app
      hide-on-scroll
      absolute
      color="primary"
      dark
    >
      <div class="d-flex align-center">
        <v-img
          alt="Vuetify Logo"
          contain
          :src="logo"
          transition="scale-transition"
          width="90"
        />
      </div>
      <v-spacer></v-spacer>
    </v-app-bar>

    <v-main>
      <router-view/>
    </v-main>
  </v-app>
</template>

<script>

export default {
  name: 'App',
  data: () => ({
    logo: require('./assets/logo.svg')
  })
}
</script>
